body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #d62929;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.movieInfo {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
  height: 100px;
}

.movieInfo h3 {
  margin-top: 0;
  font-size: 16px;
}

.movieInfo span {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.margin {
  margin-bottom: 20px;
  text-align: center;
}

.pagination {
  display: flex;
  margin: 10px 30px;
  align-items: center;
  justify-content: center;
  color: white;
}

.current {
  padding: 15px 20px;
  border-radius: 100%;
  border: 5px solid #d62929;
  font-size: large;
  font-weight: bold;
}

.page {
  padding: 10px 20px;
  background-color: #d62929;
  color: #fff;
  border-radius: 50px;
  border: 2px solid #d62929;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
}

.page:disabled {
  background-color: #888484;
  border: 2px solid #888484;
}

.page:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
}